body{
    background: lightblue;
}
#menuList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#detailFood img {
    border-radius: 10px;
}
.list-group{
    width: 400px;
    margin: auto;
}